* {
  box-sizing: border-box;
}

body {
  margin: 16px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
  padding: 20px;
  display: flex;
  justify-content: center;
}

/* #region task-1 */
.text-animals {
  margin-bottom: 16px;
}

.link-animals {
  display: flex;
  color: #fff;
  text-decoration: none;
  font-size: 16px;
  margin-right: 16px;
  border-radius: 20px;
  background-color: #8a8a8a;
}

.link-animals:hover {
  text-decoration: underline;
}

.list-animals {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 600px;
}

.item-animals {
  background-color: #f6f6fe;
  border-radius: 16px;
  padding: 16px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
  margin-bottom: 24px;
}

.subtitle-animals {
  font-size: 24px;
  font-weight: 600;
  color: #2e2f42;
  margin-bottom: 16px;
}

.list-center-animals {
  list-style: none;
  padding: 0;
  margin: 0;
}

.item-card-animals {
  background-color: #fff;
  border: 1px solid #808080;
  border-radius: 4px;
  padding: 8px 16px;
  font-size: 16px;
  margin-bottom: 8px;
}

.item-card-animals:last-child {
  margin-bottom: 0;
}

/* #endregion task-1 */

/* #region task-2 */
.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  list-style: none;
  padding: 0;
  margin: 0;
  justify-content: center;
}

.gallery-item {
  flex: 1 3 calc(33.333% - 16px);
  max-width: 400px;
}

.gallery-img {
  width: 100%;
  height: auto;
  border-radius: 12px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s;
}

.gallery-img:hover {
  transform: scale(1.1);
}

/* #endregion task-2*/

/* #region task-3 */
.box-input {
  border-radius: 8px;
  padding: 24px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.input-field {
  width: 360px;
  height: 40px;
  padding: 12px 16px;
  border: 1.5px solid #ccc;
  border-radius: 8px;
  font-size: 16px;
  outline: none;
  transition: border-color 0.25s ease, box-shadow 0.25s ease;
  margin-bottom: 16px;
}

.input-field:focus {
  border-color: #5c6ac4;
  box-shadow: 0 0 0 3px rgba(92, 106, 196, 0.25);
}

.subtitle-field {
  font-size: 24px;
  line-height: 32px;
  font-weight: 600;
  color: #2e2f42;
  margin: 0;
}

.span-text {
  color: #2d2f3a;
  font-weight: 700;
}
/* #endregion task-3 */

/* #region task-4 */

.login-form {
  align-items: center;
  justify-content: center;
  width: 408px;
  height: 256px;
  border-radius: 8px;
  padding: 24px;
  gap: 16px;
  background-color: #fff;
}
.label-form {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #2e2f42;
  margin-bottom: 8px;
}
.input-form {
  width: 360px;
  height: 40px;
  border-radius: 4px;
  border: solid 1px #808080;
  margin-bottom: 8px;
}

.button-form {
  min-width: 86px;
  height: 40px;
  border-radius: 8px;
  padding: 8px 16px;
  background-color: #4e75ff;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 4%;
  color: #fff;
  border: 1px solid;
  transition: all 0.3s ease;
}

.button-form:hover,
.button-form:focus {
  color: #fff;
  background-color: #6c8cff;
  box-shadow: 0 4px 8px rgba(108, 140, 255, 0.4);
}
/* #endregion task-4 */

/* #region task-5 */
.widget-box {
  width: 345px;
  height: 280px;
  border-radius: 8px;
  padding: 100px 88px;
  gap: 10px;
  background-color: #fff;
}

.widget {
  width: 169px;
  height: 80px;
  gap: 16px;
  border-radius: 8px;
  background-color: #fff;
}

.text-widget {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 4%;
  color: #2e2f42;
  margin-bottom: 16px;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.button-form.btn {
  display: flex;
  margin: 0 auto;
}
/* #endregion task-5 */
